<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">

    </div>
    <div class="col-md-10">
      <!--Body content-->

<div>
  <ul class="products">
    <li ng-repeat="product in products | filter:query" class="thumbnail">
      <a href="#/products/{{product.id}}" class="thumb"><img ng-src="{{product.imageurl}}"/></a>
      <a href="#/products/{{product.id}}">{{product.name}}</a>
      <p>{{product.snippet}}</p>
    </li>
  </ul>
</div>

    </div>
  </div>
</div>